body {
  background: lightgrey;
  margin: 0
}
nav.nav_home{
  background-color: beige;
  border-bottom: solid 2px grey;
}
td {
  border-right: 1px grey solid;
  text-align: center;
  padding: 8px;
  width: 250px;
}
td.active{
  background-color: grey;
  color: black ;
}
div.txt_welc{
  display: block;
  font-family: 'Times New Roman';
  font-size: 16px;
  margin-left: 5px;
  padding-left: 10px;}
p.lb1{
  display: block;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  }
h2{
    display: block;
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    }
#nme_villa {
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
  color: grey;
  border-top: solid 2px grey;
  border-bottom: solid 2px grey;
  background-color: beige;
  padding: 5px 10px 0 10px;
  text-align: center;
}

div.pic_villa {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border: solid grey;
}